package components

var linksTemperatureAsActive = []Link{
	{
		source:   "/",
		Text:     "Length",
		IsActive: false,
	},
	{
		source:   "/weight",
		Text:     "Weight",
		IsActive: false,
	},
	{
		source:   "/temperature",
		Text:     "Temperature",
		IsActive: true,
	},
}

templ Temperature() {
	@page("Unit Converter") {
		<div class="flex flex-col h-screen items-center justify-center">
			@title()
			@nav(linksTemperatureAsActive)
			@form(linksTemperatureAsActive)
		</div>
	}
}
