package components

var linksWeightAsActive = []Link{
	{
		source:   "/",
		text:     "Length",
		isActive: false,
	},
	{
		source:   "/weight",
		text:     "Weight",
		isActive: true,
	},
	{
		source:   "/temperature",
		text:     "Temperature",
		isActive: false,
	},
}

templ Weight() {
	@page("Unit Converter") {
		<div class="flex flex-col h-screen items-center justify-center">
			@title()
			@nav(linksWeightAsActive)
			@form()
		</div>
	}
}
